.env
.serverless
.webpack
node_modules
ormconfig.json

# env
.env
.env.*
.env.development
.env.production
!.env.example

dist
.env.staging
google-service-account.json
cloudflare
db
settings.json
.DS_Store